
body {
	text-align: center;
	background-color: white;
	background-image: url('../images/books.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	font-family: Playfair Display;
	  
}
h1, #djj {
	color: red;

}

p {
	height: 100%;
	line-height: 250%;
	font-size: 200%;
	color: yellow;
	margin-top: -5%;
}

h2 {
	font-size: 450%;
}
#header {
	background: rgba(0,0,0,.5);
	margin: auto;
	width: 100%;
}
# font-family: 'Playfair Display', serif;#

hr {
	width: 375px;

}
#footer {
	background: rgba(0,0,0,.5);
	color: white;
	font-family: Helvetica;
}
a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color: purple;
    background-color: transparent;
    text-decoration: none;
}
a:hover {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}